body {
	margin:0;
	font-family: "Segoe UI", "Gill Sans", sans-serif;
	color: white;
	background-color: #58595B;
}

h1, h2, figcaption, label, fieldset, th {
	color: #FFBE00;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
}

.container-fluid {
	margin: 0;
	padding: 120px 0 0 0;
	min-width: 535px;
}

.header, .detail, #myModal {
	min-width: 535px;
}

#bruce_sign {
	height: 50px;
	vertical-align: top;
}

.row {
	margin-left: 0;
}

@media (max-width: 768px) {
	.quote_div {
		display: none;
	}
}

.header {
	position: fixed;
	z-index: 2;
	width: 100%;
	text-align: center;
	background-color: #3F3F3F;
}

.header div {
	margin: 0;
	padding: 0;
}

.header h1 {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.header img {
	height: 100px;
}

#home-text, #home-image {
	padding: 20px;
}

#home-image img {
	max-width: 80%;
	height: auto;
}

p {
	font-size: 1.0em;
}

/*
 * These fa-angle- class definitions should be in navigation.css
 * For some reason they do not work there??? 
 */
.fa-angle-left:hover::after, .fa-angle-right:hover::after {
	opacity: .5;
}

.fa-angle-left::after {
	content: 'Previous';
}

.fa-angle-right::after {
	content: 'Next';
}

.name {
	text-align: center;
	font-size: 1.8em;
	margin: 0 0 20px;
}

.technologies img {
	width : 150px;
}