body {
	margin:0;
	font-family: "Segoe UI", "Gill Sans", sans-serif;
	color: white;
	background-color: #58595B;
}

h1, h2 {
	color: #FFBE00;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
}

.container-fluid {
	margin: 0 0 0 60px;
	padding: 0;
	width: 95%;
	min-width: 535px;

}

.row {
	margin-left: 0;
}

@media (max-width: 600px) {
	.container-fluid {
		margin: 60px 0 0 0;
	}
}

.header {
	background-color: #3F3F3F;
}

.header div {
	margin: 0 auto;
}

.header h1 {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.header img {
	height: 100px;
}

#home-text, #home-image {
	padding: 20px;
}

#home-image img {
	max-width: 80%;
	height: auto;
}

p {
	font-size: 1.0em;
}

#quote {
	font-style: italic;
	margin-bottom: 0;
}

#source {
	color: #15784d;
	font-weight: bold;
}

.angles {
	display: inline-block;
	width: 12%;
}

.angles i {
	color: white;
	font-size: 2.5em;
}

.fa-angle-left:before {
	text-align: left;
}

.fa-angle-right:before {
	text-align: right
}

.fa-angle-left:before, .fa-angle-right:before {
	color: white;
	opacity: .5;
}

.fa-angle-left:hover:before, .fa-angle-right:hover:before {
	opacity: 0;
}

.fa-angle-left:hover:after, .fa-angle-right:hover:after {
	opacity: .5;
	bottom: 3em;
}

.fa-angle-left:after {
	content: 'Previous';
}

.fa-angle-right:after {
	content: 'Next';
}

#quote_source {
	display: inline-block;
	width: 70%;
}