<html lang="en">
	<head>
		<title>Bruce LeCaptain</title>
{% include "home/head.html" %}
{% load static %}
	</head>
	<body>
{% include "home/header.html" %}
		<div class="container-fluid">
			<div class="row">
				<div id="home-text" class="col-sm-12 col-md-8">
					<h2 class="name">Bruce LeCaptain</h2>
					<h3 class="header3">About</h3>
					<p>Math guy who found his passion in computers and software. I am always striving to learn new technologies and enhance my understanding of technologies I already know.</p>
					<div class="technologies">
						<h2>Some of the technologies I have used:</h2>
						<img src="{%static 'home/images/html-css-js.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/logo-jquery.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/mysql.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/mongo-logo.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/python-logo.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/django_logo.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/nodejs.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/angular-logo.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/Octocat.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/php-logo.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/linux-logo.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/apache_webserver.png'%}" alt="Bruce Hiking">
						<img src="{%static 'home/images/c-logo.png'%}" alt="Bruce Hiking">
					</div>
					<p>To view or download my resume, select one of the following:</p>
					<ul>
						<li><a href="{%static '/home/documents/Bruce LeCaptain_Resume.docx'%}">Word (.docx)</a></li>
						<li><a href="{%static '/home/documents/Bruce LeCaptain_Resume.pdf'%}" target="_blank">PDF</a></li>
					</ul>
				</div>
				<div id="home-image" class="col-md-4">
					<img id="myImg" src="{%static 'home/images/bruce_hiking.jpg'%}" alt="Bruce Hiking">
					<div id="myModal" class="modal">
						<!-- The Close Button -->
						<span class="close">&times;</span>
						<!-- Modal Content (The Image) -->
						<img class="modal-content" id="img01" src="{%static 'home/images/bruce_hiking.jpg'%}" alt="Bruce Hiking">>
						<!-- Modal Caption (Image Text) -->
						<div id="caption">
							<h2>Location: Virginia</h2>
							<p>On a beautiful fall day, I went hiking with my daughter in the George Washington National Forest. Behind me is a cliff and a vista that even impressed this Montana boy: colorful trees, people (looking like ants), roads, and a valley that stretched forever. And the best part of the day? My daughter, the vegan, prepared lunch. My sandwich was a carnivore's delight: meat, cheese, mayo and some sort of leafy green stuff as well.</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
{% include "home/footer.html" %}
<script src="{%static '/home/js/modal.js'%}"></script>
	</body>
</html>