<html>
	<head>
		<title>Bruce LeCaptain</title>
{% include "home/head.html" %}
{% load static %}
	</head>
	<body>
{% include "home/nav.html" %}
		<div class="container-fluid">
{% include "home/header.html" %}
			<div class="row">
				<div id="home-text" class="col-sm-12 col-md-8">
					<h2 class="name">Bruce LeCaptain</h2>
					<h2>Work History</h2>
					<ul>
						<li>European Tableware (Haymarket, Va.) - 2005 - 2017</li>
						<ul>
							<li>Developed an e-commerce application using osCommerce in a LAMP stack</li>
							<li>"Retired" version can be seen <a href="http://retired.europeantableware.com" target="_blank">here</a></li>
						</ul>
						<li>Technology Management Associates (Fairfax, Va.) - 2002 - 2005</li>
						<ul>
							<li>Supported development, maintenance, and site installation of real time system.</li>
							<li>Mainly worked with C and Java on Sun Solaris and Linux.</li>
						</ul>
						<li>Raytheon (Garland, Texas; Denver, Colorado; Harrogate, England) - 1998 - 2002</li>
						<ul>
							<li>Supported development and maintenance of a real time command and control system</li>
							<li>Mainly developed in C on DEC OpenVMS. Maintenance work was performed mainly in C, Fortran, Pascal on various operating systems including OpenVMS, Solaris and Linux.</li>
						</ul>
					</ul>
					<h2>Education</h2>
					<ul>
						<li>Coding Dojo Online Bootcamp - HTML, CSS, JavaMEAN and Python Stacks</li>
						<li>Montana State University, Bozeman, Mont. - MS Mathematics</li>
						<li>Rocky Mountain College, Billings, Mont. - BS Mathematics</li>
					</ul>

					<p>To download my resume, select one of the following:</p>
					<ul>
						<li><a href="{%static '/home/documents/Bruce LeCaptain_Resume.docx'%}">Word (.docx)</a></li>
						<li><a href="{%static '/home/documents/Bruce LeCaptain_Resume.pdf'%}" target="_blank">PDF</a></li>
					</ul>
				</div>
				<div id="home-image" class="col-md-4">
					<img id="myImg" src="{%static 'home/images/bruce_hiking.jpg'%}" alt="Bruce Hiking">
					<div id="myModal" class="modal">
						<!-- The Close Button -->
						<span class="close">&times;</span>
						<!-- Modal Content (The Image) -->
						<img class="modal-content" id="img01" src="{%static 'home/images/bruce_hiking.jpg'%}" alt="Bruce Hiking">>
						<!-- Modal Caption (Image Text) -->
						<div id="caption">
							<h2>Location: Virginia</h2>
							<p>On a beautiful fall day, I went hiking with my daughter in the George Washington National Forest. Behind me is a cliff and a vista that even impressed this Montana boy: colorful trees, people (looking like ants), roads, and a valley that stretched forever. And the best part of the day? My daughter, the vegan, prepared lunch. My sandwich was a carnivore's delight: meat, cheese, mayo and some sort of leafy green stuff as well.</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
{% include "home/footer.html" %}
<script src="{%static '/home/js/modal.js'%}"></script>
	</body>
</html>