<!DOCTYPE html>
<html>
	<head>
		<title>Bruce's Code/Portfolio</title>
{% include "home/head.html" %}
{% load static %}
	</head>
	<body>
{% include "home/nav.html" %}
		<div class="container-fluid">
{% include "home/header.html" %}
			<div class="row">
				<div class="code-item col-sm-6 col-md-4 col-6">
					<h2>Welcome to Bruce</h2>
					<img class="img-fluid" src="{%static 'home/images/bruce_sign.png'%}" alt="Bruce">
					<div class="detail">
						<p>This website is one example of my work. It is my first foray into CSS Bootstrap responsive design.</p>
						<p>It's built using Django.</p>
						<a class="close-about" href="#">Close</a>
					</div>
					<div class="links">
						<a class="about" href="#">About</a>
						<a href="https://github.com/brulecap/brucelecaptain" target="_blank">GitHub</a>
					</div>
				</div>
				<div class="code-item col-sm-6 col-md-4 col-6">
					<h2>Pacman</h2>
					<img class="img-fluid" src="{%static 'home/images/pacmanscreen.png'%}">
					<div class="detail">
						<p>Pacman was a lot of fun to develop. Everytime I work on it, there is something else I would like to add/modify. Give it try. Bring up a separate version in an incognito tab to have multiple sessions.</p>
						<p>It is JavaScript/jQuery on the client side using socket.io to send and receive information from an Express server. The nginx server (serving the website brucelecaptain.com) is configured to do a proxy_pass to the Express server when a request is made to /pacman or /socket.io.</p>
						<a class="close-about" href="#">Close</a>
					</div>
					<div class="links">
						<a class="about" href="#">About</a>
						<a href="/pacman">Play</a>
						<a href="https://github.com/brulecap/pacman" target="_blank">GitHub</a>
					</div>
				</div>
				<div class="code-item col-sm-6 col-md-4 col-6">
					<h2>European Tableware</h2>
					<img class="img-fluid" src="{%static 'home/images/et_logo.png'%}">
					<div class="detail">
						<p>My wife and I started European Tableware in 2006. It was an interesting ride, but with the changing e-commerce landscape, we shut it down in 2017.</p>
						<p>It was originally developed on osCommerce in a LAMP stack. After multiple iterations, the final version is mainly my own with just a few hooks left from osCommerce.</p>
						<a class="close-about" href="#">Close</a>
					</div>
					<div class="links">
						<a class="about" href="#">About</a>
						<a href="http://retired.europeantableware.com" target="_blank">Visit</a>
					</div>
				</div>
				<div class="code-item col-sm-6 col-md-4 col-6">
					<p>More coming soon!</p>
				</div>
			</div>
		</div>
{% include "home/footer.html" %}
{% load static %}
	<script src="{%static '/home/js/code.js'%}"></script>
	</body>
</html>