<!DOCTYPE html>
<html>
	<head>
		<title>Bruce's Code/Portfolio'</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% load static %}
		<link rel="stylesheet" href="{%static '/home/css/styles.css'%}">
		<link rel="stylesheet" href="{%static '/home/css/code.css'%}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
{% include "home/nav.html" %}
		<div class="container-fluid">
			<div class="row">
				<div class="code-item col-sm-6 col-md-4 col-6">
					<h2>Welcome to Bruce</h2>
					<img class="img-fluid" src="{%static 'home/images/bruceinbrucenew.jpg'%}" alt="Bruce">
					<div class="detail">
						<p>This website is one example of my work. It is my first foray into CSS Bootstrap responsive design. Cool stuff! Yeah, I say that about every new technology I learn!</p>
						<p>It's built using Django on the backend.</p>
						<a class="close-about" href=#>Close</a>
					</div>
					<div class="links">
						<a class="about" href="#">About</a>
						<a href="#">Need to add githun repisitory</a>
					</div>
				</div>
				<div class="code-item col-sm-6 col-md-4 col-6">
					<h2>Pacman</h2>
					<img class="img-fluid" src="{%static 'home/images/pacmanscreen.png'%}">
					<div class="detail">
						<p>Pacman was a lot of fun to develop. It is a long way from finished but I think it's pretty cool. Give it try. Bring up a separate version in an incognito tab.</p>
						<p>It is JavaScript/jQuery on the client side using socket.io to send and receive information from an Express server.</p>
						<a class="close-about" href=#>Close</a>
					</div>
					<div class="links">
						<a class="about" href="#">About</a>
						<a href="/pacman">Play</a>
						<a href="https://github.com/brulecap/pacman">GitHub Repo</a>
					</div>
				</div>
				<div class="code-item col-sm-6 col-md-4 col-6">
					<p>Code 3</p>
				</div>
				<div class="code-item col-sm-6 col-md-4 col-6">
					<p>Code 4</p>
				</div>
			</div>
		</div>
{% include "home/footer.html" %}
	<script src="{%static '/home/js/code.js'%}"></script>
	</body>
</html>