<!DOCTYPE html>
<html>
    <head>
        <title>Bruce's Code/Portfolio</title>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&skin=sunburst"></script>
{% include "home/head.html" %}
{% load static %}
        <link rel="stylesheet" href="{%static '/home/css/cool.css'%}">
    </head>
{% include "home/header.html" %}
    <body>
        <div class="container-fluid">
            <div class="row">
                <div id="home-text" class="col-12">
                    <h2>Euler Project</h2>
                    <p>I discovered the <a href="https://projecteuler.net" target="blank">Euler Project</a> while searching for challenges to strengthen my coding skills and have a bit of fun. It has a wealth of challenges/problems which appealed to this math guy's brain.</p>
                    <p>Before I got started, I needed to decide what language I was going to use. I choose the c programming language. I have enjoyed coding in c and I had not used it in awhile. I had been working in php and I wanted to work with a compiled language again. So I grabbed the <a href="https://www.eclipse.org/downloads/packages/" target="blank">Eclipse IDE for C/C++ Developers</a> and a c compiler. I choose <a href="mingw.org" target="blank">MinGW</a> for my Windows machine and got started.</p>
                    <p>I quickly learned that c was a perfect choice for the challenges. Why? Continue reading and I'll try to explain. Some problems, like power digit sum, require just a few lines of code in python. But when written in c, the problem takes on a whole new dimension.</p>
                    <p>The power digit sum problem asks you to find the sum of all digits of <var>2<sup>1000</sup></var>.</p>
                    <p>This problem has a trivial solution in python:</p>
<pre class="prettyprint"><xmp>r = 2**1000
sum = 0
for i in range(0, len(str(r))):
    sum += int(str(r)[i])
print(sum)</xmp></pre>
                    <p>Running that we find that the sum of all the digits of <var>2<sup>1000</sup></var> is <var>1366</var>.</p>
                    <p>Thinking we could do something similar in c (As I said, it had been awhile since I had programmed in c), I tried this:</p>
<pre class="prettyprint code"><xmp>
long long power_digit_sum_easy(int number, int exponent) {
  long long number_exponent = pow(number,exponent), sum = 0;
  int array_size = 1;
  /*
   * Max number of digits in x^n is log(x^n) = n*log(x). Calculate this...
   *
   * Note: log10 of 1 is 0 so we will use the default array_size of 1 defined
   * when the array_size variable was declared.
   */
  if (number != 1) {
    array_size = ceil(exponent*(log10(number)));
  }
  // char array to hold digits in number_exponent.
  char num_as_chars[array_size];
  sprintf(num_as_chars, "%I64d", number_exponent);
  for (int i=0;i<array_size;i++) {
    // Check if digit
    if (isdigit(num_as_chars[i])) {
      /*
       * Convert char to digit by subtracting the character 0.
       * This works because we are dealing with the ascii equivalents,
       * i.e. '1' - '0' = 49 - 48 = 1. Also the ascii specification
       * states that numbers are contiguous.
       */
      sum += num_as_chars[i] - '0';
    }
  }
  return(sum);
}</xmp></pre>
                    <p>Now that doesn't look too bad. A large part of the program consists of comments. It works great with something like <var>2<sup>50</sup></var> which has an answer of <var>76</var>.</p>
                    <p>But when I ran this program with <var>2<sup>1000</sup></var> I get the answer <var>89</var>. That's not right! What's going on?</p>
                    <p>Well, the problem lies in the size of the number. <var>2<sup>1000</sup></var> is 31 digits long. That exceeds the maximum size of any primitive data type in c. The largest, <var>2<sup>64</sup>-1</var>, is an unsigned long long.</p>
                    <p>At this point you might say screw it. I'll just write it in python. But then you wouldn't have as much fun and would miss out on a fantastic learning experience.</p>
                    <p>So what do you do? Hint: Is there a problem having an array with 31 entries? Or 1000, or 2000, or ??? You can represent some extremely large numbers using arrays. Cool stuff!!!!</p>
                    <p>My solution follows. It is by no means the only way to solve this in c. I have seen a number of different solutions. Some, I must admit, more elegant. But you give 10 programmers 1 problem and they will come up with 19 different solutions.</p> 
<pre class="prettyprint code"><xmp>/*
 * Function power_digit_sum finds the sum of the digits of the number x^n.
 *
 * Example: 2^15 = 32768 and the sum of its digits is 3 + 2 + 7 + 6 + 8 = 26.
 *
 * Because a number like 2^1000 is larger than what an unsigned int(or even an unsigned long long)
 * can contain in c, we will represent the number in an array. Each element in the array will
 * represent 1 digit of the number with the 0th element being the least significant digit.
 *
 * Arguments:
 *      int number - Number to raise to power
 *      int exponent - Power to raise number
 *
 * TODO: Currently this function will only handle carry + product < 100.
 *       Need to modify function to propagate carries as far up the line
 *       as necessary.
 *       Example: 25^2
 */
long long power_digit_sum(int number, int exponent) {
  int i, j, carry = 0, array_size = 1;
  long long sum = 0;

  /*
   * Max number of digits in x^n is log(x^n) = n*log(x). Calculate this...
   *
   * Note: log10 of 1 is 0 so we will use the default array_size of 1 defined
   * when the array_size variable was declared.
   */
  if (number != 1) {
    array_size = ceil(exponent*(log10(number)));
  }
  int product_array[array_size];
  //Initialize product array to "1". i.e. {1,0,...,0,0}
  memset(product_array, 0, sizeof product_array);
  product_array[0] = 1;

  /*
   * Iterate exponent number of times and for each time iterate through
   * the product_array, multiplying each element by number saving the carry
   * and adding it to the next element of the product_array. When the iterations
   * are complete you wil have the digits of x^n contained in an array with the
   * array index 0 being the least significant digit.
   */
  for (i=0;i<exponent;i++) {
    for (j=0;j<array_size;j++) {
      product_array[j] = (product_array[j] * number) + carry;
      carry = 0;
      if (product_array[j] > 9) {
        carry = (product_array[j]-product_array[j]%10)/10;
        product_array[j] = product_array[j]%10;
      }
    }
  }
  // Sum all the digits
  for (i=array_size-1;i>=0;i--) {
    sum += product_array[i];
  }
  return sum;
}</xmp></pre> 
                </div>
            </div>
        </div>
{% include "home/footer.html" %}
    </body>
</html>