<!DOCTYPE html>
<html>
	<head>
		<title>Bruce LeCaptain</title>
{% include "home/head.html" %}
{% load static %}
	</head>
	<body>
{% include "home/nav.html" %}
		<div class="container-fluid">
{% include "home/header.html" %}
			<div class="row">
				<div id="home-text" class="col-sm-12 col-md-5">
					<p>This picture? That's me, Bruce LeCaptain, after writing an elegant piece of code. It always puts a smile on my face and makes me want to drive a few thousand miles, find a sign with my name on it, and take a selfie. Doesn't it have the same affect on you? <span class="large">:)</span></p>
					<p>Okay, so your not buying all of that... Click on the picture for the real story.</p>
				</div>
				<div id="home-image" class="col-md-7">
					<img id="myImg" src="{%static 'home/images/bruceinbrucenew.jpg'%}" alt="Bruce">
					<div id="myModal" class="modal">
						<!-- The Close Button -->
						<span class="close">&times;</span>
						<!-- Modal Content (The Image) -->
						<img class="modal-content" id="img01" src="{%static 'home/images/bruceinbruce.jpg'%}" alt="Bruce Wisconsin">
						<!-- Modal Caption (Image Text) -->
						<div id="caption">
							<h2>Location: Wisconsin</h2>
							<p>I had just spent a week in Montana/Wyoming visiting relatives and spending time at a little peace of heaven, East Rosebud Lake in Montana. I was driving back to Virginia with a side trip to "Ingram Days" in Ingram, Wisconsin, to spend the weekend with my brother, sister, and father. My daughter had suggested taking a selfie in every state I visited. I saw this sign. Could there be a more perfect selfie for Wisconsin? I was quite chuffed with myself, thus the grin.</p> 
						</div>
					</div>
				</div>
			</div>
		</div>
{% include "home/footer.html" %}
<script src="{%static '/home/js/modal.js'%}"></script>
	</body>
</html>