{% load static %}
<div id="sideNav">
	<img src="{%static 'home/images/bruce_sign.png'%}" alt="Bruce Sign">
	<nav>
		<ul class="nav flex-column">
			<li class="nav-item"><a href="/"><i class="fas fa-home{% if home %}{% else %} white{% endif %}"></i></a></li>
			<li class="nav-item"><a href="/code"><i class="fas fa-code{% if code %}{% else %} white{% endif %}"></i></a></li>
			<li class="nav-item"><a href="/contact"><i class="fas fa-envelope-open{% if contact %}{% else %} white{% endif %}"></i></a></li>
			<li class="nav-item separator"><a href="https://github.com/brulecap" target="_blank"><i class="fab fa-github white"></i></a></li>
			<li class="nav-item"><a href="https://www.linkedin.com/in/bruce-lecaptain-533a8241/" target="_blank"><i class="fab fa-linkedin-in white"></i></a></li>
		</ul>
	</nav>
</div>